{% extends "base.html" %}
{% block content %}


<div class="subtitle"> Toby's Wares </div>


    <div class="sub_index">
        {% for product in all_products %}
            <div class="loop">
                <div>
                    <b>{{product.name}}</b>
                </div>

                    {% if product.stock_quantity >= 2  %}
                        In Stock
                    {% elif product.stock_quantity == 0 %}
                        Out of Stock
                    {% else %}
                        Low Stock
                    {% endif %}


                <div class="details">
                    <a class="link" href="products/{{product.id}}">
                        Details
                    </a>  
                </div>
            </div>
        {% endfor %}
    </div>



<div class="add">
    <a class="link" href="/products/new">
        <button class="buttons">
            Add Product
        </button>
    </a>
</div>

{% endblock %}
