{% extends "base.html" %}
{% block content %}

{% for product in all_products %}
    <div>
        {{product.vendor.first_name}}
        {{product.name}}
        {{product.description}}
        {{product.buying_price}}
        {{product.selling_price}}
        {{product.stock_quantity}}
        {{product.low_stock}}
        {{product.out_of_stock}}
    </div>

    <a href="products/{{product.id}}">
        <button>
            Details
        </button>
    </a>  
{% endfor %}

<br>
<a href="/products/new">
    <button>
        Add Product
    </button>
</a>

{% endblock %}