{% extends "base.html" %}
{% block content %}


<div class="subtitle"> Toby's Wares </div>


    <div class="index_products">
        {% for product in all_products %}
            <div id="product_loop">
                <div>
                    {{product.name}}
                </div>

                {% if product.stock_quantity >= 2  %}
                    In Stock
                {% elif product.stock_quantity == 0 %}
                    Out of Stock
                {% else %}
                    Low Stock
                {% endif %}

                <div class="details">
                    <a href="products/{{product.id}}">
                        Details
                    </a>  
                </div>
            </div>
        {% endfor %}
    </div>



<div id="add_product">
    <a href="/products/new" class="add_product">
            Add Product
    </a>
</div>

{% endblock %}
