{% extends "base.html" %}

{% block content %}

<div class="subtitle">Add Product</div>

<div class="show_index">
    <form action="/products" method="post">
        <div>
            <label for="name">Name:</label>
            <input class="input" type="text" id="name" name="name" placeholder="Name"required autofocus>
        </div>
        
        <div>
            <label for="description">Description:</label>
            <input class="input" type="text" id="description" name="description" placeholder="Description" required>
        </div>
        
        <div>
            <label for="buying_price">Buying Cost:</label>
            <input class="input" type="text" id="buying_price" name="buying_price" placeholder="Buying Cost" required>
        </div>

        <div>
            <label for="selling_price">Selling Price:</label>
            <input class="input" type="text" id="selling_price" name="selling_price" placeholder="Selling Price" required>
        </div>

        <div>
            <label for="stock_quantity">Stock Quantity:</label>
            <input class="input" type="text" id="stock_quantity" name="stock_quantity" placeholder="Stock Quantity" required>
        </div>

        <div>
            <label for="vendor">Vendor:</label>
            <select class="input" id="vendor" name="vendor_id">
                {% for vendor in all_vendors %}
                <option value= "{{vendor.id}}"> {{vendor.first_name}} {{vendor.last_name}} </option>
                {% endfor %}
            </select>
        </div>

        <div class="buttons_placement">
            <button class="buttons" type="submit">Add Product</button>
        </div>
    </form>
</div>

{% endblock %}

