{% extends "base.html" %}
{% block content %}

    <div class="subtitle">Product Details</div>

<div class="show_index">
    <div>
        Vendor: {{product.vendor.first_name}} {{product.vendor.last_name}} <br>
        Product: {{product.name}} <br>
        Description: {{product.description}}<br>
        Stock: {{product.stock_quantity}}<br>
        Buying Cost: {{product.buying_price}} bugs<br>
        Selling Price: {{product.selling_price}} bugs<br>
        Mark up: {% print"{:.0f}".format(((product.selling_price - product.buying_price)/product.buying_price)*100) %}%<br>
    </div>
</div>


<div class="buttons">
    <a href="/products/{{product.id}}/edit">
        <button>
            Edit
        </button>
    </a>


    <div>
        <form action="/products/{{product.id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>
</div>

{% endblock %}