{% extends "base.html" %}
{% block content %}

    <div>
        Vendor: {{product.vendor.first_name}} {{product.vendor.last_name}}
        Product: {{product.name}}
        Description: {{product.description}}
        Stock: {{product.stock_quantity}}
    </div>

    <p><a href="/products/{{product.id}}/edit">
        <button>
            Edit
        </button>
    </a></p>

    <div>
        <form action="/products/{{product.id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>

{% endblock %}