{% extends "base.html" %}
{% block content %}

    <div class="subtitle">Product Details</div>

<div class="show_index">
    <div>
        <b>Vendor:</b> {{product.vendor.first_name}} {{product.vendor.last_name}} <br>
        <b>Product:</b> {{product.name}} <br>
        <b>Description:</b> {{product.description}}<br>
        <b>Stock:</b> {{product.stock_quantity}}<br>
        <b>Buying Cost:</b> {{product.buying_price}} bugs<br>
        <b>Selling Price:</b> {{product.selling_price}} bugs<br>
        <b>Mark up:</b> {% print"{:.0f}".format(((product.selling_price - product.buying_price)/product.buying_price)*100) %}%<br>
    </div>
</div>


<div class="buttons_placement">
    <a href="/products/{{product.id}}/edit">
        <button class="buttons">
            Edit
        </button>
    </a>


    <div>
        <form action="/products/{{product.id}}/delete" method="POST">
            <button class="buttons">Delete</button>
        </form>
    </div>
</div>

{% endblock %}