.base_background {
    background: url("/static/images/Jams_n'_such.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    padding-left: 60px;
    padding-top: 60px;
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 60px;
    text-transform: lowercase;
    color: rgba(39, 39, 39, 0.6);
}

.jam_emporium {
    font-size: 3vw;
    padding-left: 20px;
}

.homepage_links {
    display:flex;
    flex-direction: column;
    align-items: 69px;
    padding-left: 100px;
    padding-top: 160px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 79px;
    text-transform: lowercase;
}

.homepage_links > a {
    color: rgba(39, 39, 39, 0.6);
}


.details > a {
    color:rgba(39, 39, 39, 0.6);
}


.index_background {
    background: url("/static/images/paper.png");
    background-repeat:repeat;
    background-size: cover;
    margin: 0;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 48px;
    text-transform: lowercase;
    list-style: none;
}

.menu > li {
    padding: 10px;
}

.menu > li > a {
    color: rgba(39, 39, 39, 0.6);
}

.block {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    text-transform: lowercase;
    color: rgba(39, 39, 39, 0.6);
}

#border {
    border-left: 1px solid #000000;
}


#add_vendor > a {
    color: rgba(39, 39, 39, 0.6);
}

.add_product {

}

#add_product > a {
    color: rgba(39, 39, 39, 0.6);
}


