.base_background {
    background: url("/static/images/Jams_n'_such.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.index_background {
    background: url("/static/images/jams_background_2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
}


#container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 90% 10%;
    width: 100vw;
    height: 100vh;
}


.base_content {
    display: flex;
    justify-content: center;
}


.subtitle {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 3vw;
}


.title {
    padding-left: 60px;
    padding-top: 60px;
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 60px;
    text-transform: lowercase;
    color: rgba(39, 39, 39, 0.6);
}


.jam_emporium {
    font-size: 3vw;
    padding-left: 20px;
}


.homepage_links {
    display:flex;
    flex-direction: column;
    align-items: 69px;
    padding-left: 100px;
    padding-top: 160px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 79px;
    text-transform: lowercase;
    width: 300px;
}

.filter_by {
    position: absolute;
    width: 300px;
    height: 497px;
    left: 116px;
    top: 360px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 79px;

    color: rgba(0, 0, 0, 0.419);
}

.link {
    color: rgba(39, 39, 39, 0.6);
}

.link:hover {
    text-shadow: 2px 2px 5px rgba(39, 39, 39, 0.367);
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75vw;
    line-height: 48px;
    text-transform: lowercase;
    list-style: none;
}


.menu > li {
    padding: 10px;
}


.menu > li > a {
    color: rgba(39, 39, 39, 0.6);
}

.policy {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    padding-bottom: 10px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75vw;
    line-height: 48px;
    text-transform: lowercase;
    color: rgba(39, 39, 39, 0.6);
}

.block {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 60px;
    text-transform: lowercase;
    color: rgba(39, 39, 39, 0.6);
    height: 100vh;
}

.add {
    display: flex;
    justify-content: center;
    align-items: end;
}

.add > a {
    color: rgba(39, 39, 39, 0.6);
}


.sub_index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    margin: 30px;
    gap: 30px;
    padding: 30px;
}


.loop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 2px solid rgba(39, 39, 39, 0.6);
    border-radius: 20px;
}


.show_index {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}


.buttons_placement {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.buttons {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-family: "Gloria Hallelujah";
    text-transform: lowercase;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color:  rgba(39, 39, 39, 0.6);
    background-color: transparent;
    border: 2px solid rgba(39, 39, 39, 0.6);
    border-radius: 15px;
    box-shadow: 0 9px #746d6d;
}

.buttons:hover {
    background-color: transparent
}

.buttons:active {
    background-color: transparent;
    box-shadow: 0 5px #545454;
    transform: translateY(4px);
}

.input {
    border: 2px solid rgba(39, 39, 39, 0.6);
    background-color: transparent;
    color: rgba(39, 39, 39, 0.6);
    border-radius: 5px;
    font-family: "Gloria Hallelujah";
}

.input::placeholder{
    color: rgba(39, 39, 39, 0.6);
}

