#index_body {
    background: url("/static/images/Jams_n'_such.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}

#index_toby {
    position: fixed;
    width: 500px;
    height: 192px;
    left: 85px;
    top: 60px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 60px;
    text-transform: lowercase;


    color: rgba(39, 39, 39, 0.6);
}

#index_jam {
    position: fixed;
    width: 500px;
    height: 192px;
    left: 89px;
    top: 110px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2vw;
    line-height: 60px;
    text-transform: lowercase;


    color: rgba(39, 39, 39, 0.6);
}

#index_products {
    position: fixed;
    left: 101px;
    top: 327px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 79px;
    text-transform: lowercase;

    color: rgba(39, 39, 39, 0.6);
}

#index_vendors {
    position: fixed;
    width: 263px;
    height: 86px;
    left: 99px;
    top: 473px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 79px;
    text-transform: lowercase;

    color: rgba(39, 39, 39, 0.6);
}

#base_body {
    background: url("/static/images/paper.png");
    background-repeat:repeat;
    background-size: cover;
    margin: 0;
}

#base_toby {
    position: fixed;
    width: 500px;
    height: 192px;
    left: 85px;
    top: 60px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 60px;
    text-transform: lowercase;


    color: rgba(39, 39, 39, 0.6);
}

#base_jam {
    position: fixed;
    width: 500px;
    height: 192px;
    left: 89px;
    top: 110px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2vw;
    line-height: 60px;
    text-transform: lowercase;


    color: rgba(39, 39, 39, 0.6);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 407px;
    height: 102px;
    left: 10px;
    top: 200px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 48px;
    text-transform: lowercase;
    list-style: none;
}

.menu > li > a {
    color: rgba(39, 39, 39, 0.6);
}

.block {
    position: fixed;
    width: 155px;
    height: 161px;
    left: 684px;
    top: 147px;

    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    text-transform: lowercase;
}

#border {
    position: fixed;
    width: 100%;
    top: 210px;
    left: -180px;

    border: 1px solid #000000;
    transform: rotate(90deg);
}

.index_vendors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-width: 60px;
    column-gap: 40px;
}

.index_products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.add_vendor {
    position:relative;
    left: 175%;
    margin-top: 120%;
}

#add_vendor > a {
    color: rgba(39, 39, 39, 0.6);
}

.add_product {
    position:relative;
    left: 175%;
    margin-top: 140%;
}

#add_product > a {
    color: rgba(39, 39, 39, 0.6);
}

