<!DOCTYPE html>
<html lang="en">

<head>
  <title>Toby-Toad</title>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>

<body>

  <header>

    <div>
      <h1 id="index_toby">Toby-Toad's</h1> 
      <h2 id="index_jam">Jam Emporium</h2>
    </div>

    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Toby's Wares</a></li>
        <li><a href="/vendors">Vendors</a></li>
      </ul>
    </nav>

  </header>

  <div>
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>