<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Toby-Toad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  </head>

  <div id="container">

    <body class="index_background">

    <div class="base_content">
      <header>
        <div class="title">
          <div>Toby-Toad's</div> 
          <div class="jam_emporium">Jam Emporium</div>
        </div>

      <div>
        <nav>
          <ul class="menu">
            <li><a class="link" href="/">Home</a></li>
            <li><a class="link" href="/products">Toby's Wares</a></li>
            <li><a class="link" href="/vendors">Vendors</a></li>
          </ul>
        </nav>
      </header>
    </div>

      <div class="block">
        {% block content %}
        {% endblock %}
      </div>
      
    </body>

    <div class="policy">
      Company policy: no ant
    </div>
    
  </div>
</html>

