<head>
    <title>Toby-Toad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>


<body class="base_background">

    <header>

        <div class="title">
            <h1>Toby-Toad's</h1> 
            <h1>Jam Emporium</h1>
        </div>
    
        <div class="homepage_links">
            <a id="index_products" href="/products">Toby's Wares</a> <br>
            <a id="index_vendors" href="/vendors">Vendors</a>
        </div>

    </header>

</body>